<ion-item-sliding #sliding>
  <ion-item lines="none" (click)="open.emit(feedback)"> 
    {{ feedback.senderName }}
    <ion-toggle slot="end" color="primary" [checked]="feedback.isClosed" (ionChange)="isClosed.emit(feedback)" (click)="$event.stopPropagation()"></ion-toggle>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="delete.emit(feedback); sliding.close()"> 
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
      
  </ion-item-options>
</ion-item-sliding>
