<ion-tabs>
    
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites" (click)="setFav()">
      <ion-icon name="star" ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ng-container *ngIf="isAdmin; else goFeedback">
      <ion-tab-button tab="adminSettings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="adminFeedback">
          <ng-container *ngIf="feedbackUsers != 0 ; else allOpened">
            <ion-icon name="mail-unread"></ion-icon>
          </ng-container>
          <ng-template #allOpened>
            <ion-icon name="mail-open"></ion-icon>
          </ng-template>
      </ion-tab-button>
    </ng-container>
    <ng-template #goFeedback>
      <ion-tab-button tab="feedback">
        <ion-icon name="mail"></ion-icon>
      </ion-tab-button>
    </ng-template>
  </ion-tab-bar>

</ion-tabs>
