<ion-tabs>
    
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites">
      <ion-icon name="star"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ng-container *ngIf="isAdmin; else goFeedback">
      <ion-tab-button tab="adminSettings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
          <ion-tab-button tab="adminFeedback">
        <ion-icon name="mail-open"></ion-icon>
      </ion-tab-button>
    </ng-container>
    <ng-template #goFeedback>
      <ion-tab-button tab="feedback">
        <ion-icon name="mail"></ion-icon>
      </ion-tab-button>
    </ng-template>
  </ion-tab-bar>

</ion-tabs>
