<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            slot="icon-only"
            name="menu" 
          >
          </ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title text-center>
      UML Hands Talker
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feedback">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
