<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon
              slot="icon-only"
              name="menu" 
            >
            </ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title text-center align-self-center>
        Configurações de Usuários
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-list class="background"
  *ngIf="(user$ | async) as users">
    <ng-container *ngIf="users.length > 0; else noUsers">
      <form [formGroup]="searchForm">
          <ion-searchbar
            formControlName="searchTerm"
            autofocus="true"
            inputmode="text"
            (ionChange)="onSearchInput()"
            placeholder="Pesquisar termos"
          ></ion-searchbar>
      </form>
      <ion-item>
          <ion-icon name="contacts" slot="start" color="primary"></ion-icon>
          <ion-icon name="settings" slot="end" color="primary"></ion-icon>
      </ion-item>
      <app-user-item-admin
        class="background"
        *ngFor="let user of users | search : { filter: sentence, whatPage: isAdm }" 
        [user]="user"
        (delete)="onDelete($event)"
        (admin)="onChangeAdmin($event)"
      ></app-user-item-admin>
    </ng-container>
    <ng-template #noUsers>
      <ion-item 
      class="background" 
      lines="none">Sem Usuários no Momento</ion-item>
    </ng-template>
  </ion-list>
  <ion-list 
  class="background"
  *ngIf="error as erro">
    <ng-container *ngIf="erro">
      <ion-item 
      class="background"
      lines="none">Ocorreu um erro para carregar os Usuários UML, por favor verifique o erro. Segue descrição:</ion-item>
      <br>
      <ion-item 
      class="background"
      lines="none">{{ messageError }}</ion-item>
    </ng-container>
  </ion-list>
</ion-content>
