<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon
              slot="icon-only"
              name="menu" 
            >
            </ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>
        Favoritos
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <form [formGroup]="searchForm">
  <ion-searchbar
    formControlName="searchTerm"
    autofocus="true"
    inputmode="text"
    (ionChange)="onSearchInput()"
    placeholder="Pesquisar termos"
  ></ion-searchbar>
  </form>
  <ion-list *ngIf="(words$ | async) as words">
    <ng-container *ngIf="words.length > 0; else noWords">
      <app-word-item 
        *ngFor="let word of words | search : sentence : isFav" 
        [word]="word"
        (open)="onOpen($event)"
        (favorite)="onChangeFav($event)"
      ></app-word-item>
    </ng-container>
    <ng-template #noWords>
      <ion-item lines="none">Sem Favoritos no Momento</ion-item>
    </ng-template>
  </ion-list>
  <ion-list *ngIf="error as erro">
    <ng-container *ngIf="erro">
      <ion-item lines="none">Ocorreu um erro para carregar os Termos UML, por favor nos envie um feedback com o erro. Segue descrição:</ion-item>
      <br>
      <ion-item lines="none">{{ messageError }}</ion-item>
    </ng-container>
  </ion-list>
</ion-content>
