<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon
              slot="icon-only"
              name="menu" 
            >
            </ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title text-center align-self-center>
        Favoritos
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-list 
  class="background"
  *ngIf="(words$ | async) as words">
    <ng-container *ngIf="!hasFav(); else noWords">
        <form [formGroup]="searchForm">
            <ion-searchbar
              formControlName="searchTerm"
              autofocus="true"
              inputmode="text"
              (ionChange)="onSearchInput()"
              placeholder="Pesquisar em favoritos"
            ></ion-searchbar>
            </form>
        <ion-item lines="none">
            <ion-icon name="logo-youtube" color="danger" slot="start"></ion-icon>
            <ion-icon name="star" color="primary" slot="end"></ion-icon>
          </ion-item>
      <app-word-item 
        class="background"
        *ngFor="let word of words | search : sentence : isFav" 
        [word]="word"
        (open)="onOpen($event)"
        (favorite)="onChangeFav($event)"
      ></app-word-item>
    </ng-container>
    <ng-template #noWords>
      <ion-item
      text-center align-self-center
      class="background"
      lines="none">Você não Favoritos no Momento</ion-item>
    </ng-template>
  </ion-list>
  <ion-list 
  class="background"
  *ngIf="error as erro">
    <ng-container *ngIf="erro">
      <ion-item 
      class="background"
      lines="none">Ocorreu um erro para carregar os Termos UML, por favor nos envie um feedback com o erro. Segue descrição:</ion-item>
      <br>
      <ion-item 
      class="background"
      lines="none">{{ messageError }}</ion-item>
    </ng-container>
  </ion-list>
</ion-content>
