<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon
              slot="icon-only"
              name="menu" 
            >
            </ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title text-center align-self-center>
        UML Hands Talker
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-list class="background" *ngIf="(words$ | async) as words">
    <ng-container *ngIf="words.length > 0; else noWords">      
        <form [formGroup]="searchForm">
            <ion-searchbar
              formControlName="searchTerm"
              autofocus="true"
              inputmode="text"
              (ionChange)="onSearchInput()"
              placeholder="Pesquisar termos"
            ></ion-searchbar>
            </form>
      <ng-container 
      *ngIf="!userLogado; else checkUser"
      >
      <app-word-item-logout
        class="background"
        *ngFor="let word of words | search : { filter: sentence, whatPage: isWord }" 
        [word]="word"
        (update)="onUpdate($event)"
        (open)="onOpen($event)"
        (delete)="onDelete($event)"
        (favorite)="onChangeFav($event)"
      ></app-word-item-logout>
      </ng-container>
      <ng-template #checkUser>
          <ion-item lines="none">
              <ion-icon name="logo-youtube" color="danger" slot="start"></ion-icon>
              <ion-icon name="star" color="primary" slot="end"></ion-icon>
            </ion-item>
          <ng-container 
          *ngIf="userAdmin; else notAdmin"
          >
          <app-word-item-admin
            class="background"
            *ngFor="let word of words | search : { filter: sentence, whatPage: isWord }" 
            [word]="word"
            (update)="onUpdate($event)"
            (open)="onOpen($event)"
            (delete)="onDelete($event)"
            (favorite)="onChangeFav($event)"
          ></app-word-item-admin>
          </ng-container>
          <ng-template #notAdmin>
              <app-word-item
                class="background"
                *ngFor="let word of words | search : { filter: sentence, whatPage: isWord }" 
                [word]="word"
                (update)="onUpdate($event)"
                (open)="onOpen($event)"
                (delete)="onDelete($event)"
                (favorite)="onChangeFav($event)"
              ></app-word-item>
          </ng-template>
      </ng-template>
    </ng-container>
    <ng-template #noWords>
      <ion-item 
      class="background"
      lines="none">Sem Termos cadastradas no Momento</ion-item>
    </ng-template>
  </ion-list> 
  <ion-list class="background" *ngIf="error as erro">
    <ng-container *ngIf="erro">
      <ion-item 
      class="background"
      lines="none">Ocorreu um erro para carregar os Termos UML, por favor nos envie um feedback com o erro. Segue descrição:</ion-item>
      <br>
      <ion-item 
      class="background"
      lines="none">{{ messageError }}</ion-item>
    </ng-container>
  </ion-list> 
  <ng-container 
    *ngIf="userAdmin"
  >
   <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
   >
   <ion-fab-button routerLink="/tabs/home/new-word" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
    
   </ion-fab>

   <ion-fab
    vertical="bottom"
    horizontal="start"
    slot="fixed"
   >
   <ion-fab-button (click)="onReset()">
    <ion-icon name="refresh"></ion-icon>
  </ion-fab-button>
    
   </ion-fab>
  </ng-container>

</ion-content>
