<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="wordForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="pricetag" slot="start" color="primary"></ion-icon>
      <ion-input
        type="text"
        placeholder="Digite o Termo"
        autofocus="true"
        inputmode="text"
        formControlName="title"
      >
      </ion-input>
      <ion-toggle
        *ngIf="wordID"
        slot="end"
        color="primary"
        formControlName="done"
      >

      </ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-icon name="logo-youtube" slot="start" color="primary"></ion-icon>
      <ion-input
        type="url"
        placeholder="Digite o link do video em Libras"
        inputmode="url"
        formControlName="link"
      >
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-icon name="list" slot="start" color="primary"></ion-icon>
      <ion-textarea
        auto-grow="true"
        placeholder="Digite a explicação em Português BR"
        formControlName="description"
      >
      </ion-textarea>
    </ion-item>
  
    <ion-button expand="full" type="submit" [disabled]="wordForm.invalid">
      Salvar
    </ion-button>
  </form>
</ion-content>
